#
####### requirements.txt #######
#
###### Requirements for CCPT ######
#
# install with:
# pip install -r requirements.txt
#

matplotlib
seaborn
tensorflow==2.0.0
gdown
PyQt5==5.15.6
scikit-learn
scipy
seaborn

